.header__button {
  border: none;
  outline: none;
  box-shadow: 0 0.13rem 0.13rem rgba($color-black, 0.25);
}

.btn {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3125rem;
  font-family: $font-group-2;
  background-color: $color-sia;
  color: $color-white;
  cursor: pointer;
  padding: 0.625rem 1.875rem;
  border-radius: 0.625rem;
  transition: 0.3s;

  &:hover {
    background-color: $color-orange;
    box-shadow: 0 0 0.3rem $color-white;
    color: rgba($color-black, 0.6);
  }
}
