.block-title {
  font-family: $font-group-2;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.3125rem;
  text-transform: uppercase;
  color: $color-orange;
  margin: 0;
}

.story__title {
  font-family: $font-group-3;
  font-style: normal;
  font-weight: 400;
  font-size: 2.1875rem;
  line-height: 2.625rem;
  color: $color-sia;
}
