:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.container {
  width: 90rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-sia: #0d606f;
$color-orange: #f2785c;

// Fonts
$font-group-1: "Magra", sans-serif;
$font-group-2: "Red Hat Text", sans-serif;
$font-group-3: "Aleo", sans-serif;

// Extends
%text-descriptions-styles {
  font-family: $font-group-3;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: $color-sia;
  margin: 0;
}

%open-more-btn {
  border-radius: 0.625rem;
  font-size: 1.5rem;
  line-height: 1.98rem;
  position: relative;
  padding: 0.84375rem 1.94rem;
  padding-left: 5.0625rem;
  transition: 0.3s;
  &::before {
    width: 2.5rem;
    height: 2.5rem;
    content: "";
    background: url("/assets/icons/bi_arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: calc(50% - 1.25rem);
    left: 1.9375rem;
  }

  &:hover {
    &::before {
      filter: brightness(25%) grayscale(100%);
    }
  }
}
