//Colors
$color-black: #000000;
$color-white: #ffffff;
$color-sia: #0d606f;
$color-orange: #f2785c;

// Fonts

$font-group-1: "Magra", sans-serif;
$font-group-2: "Red Hat Text", sans-serif;
$font-group-3: "Aleo", sans-serif;

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.container {
  width: 90rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
