.destinations {
  padding-bottom: 5rem;
}

.destinations__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.destinations__title {
  margin-bottom: 2.875rem;
}

.destinations__link.btn {
  @extend %open-more-btn;
}

.destinations__slider {
  margin-bottom: 2.5rem;
}
