.steps {
}

.steps__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 8.1875rem 6.0625rem;
}

.steps__title {
  margin-bottom: 2.5rem;
}

.steps__icons-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.central-icon {
  margin-right: 10rem;
  margin-left: auto;
}

.icon__icon-item {
  width: 6.25rem;
  height: 6.25rem;
  background-color: $color-orange;
  border-radius: 1rem;
  margin-bottom: 1.875rem;
}

.icon__title {
  font-family: $font-group-3;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: $color-sia;
}

.velo-icon {
  background-image: url("/assets/icons/velo-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3.125rem 2.8125rem;
}

.calc-icon {
  background-image: url("/assets/icons/calc-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3.25rem 3.25rem;
}

.hand-icon {
  background-image: url("/assets/icons/hand-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3.75rem 2.8125rem;
}
